<h1>To Do</h1>
<h2>Lists</h2>
<ul>
  <% @lists.each do |list| %>
  <li><%= list.title %><%= link_to 'Show', list %> <%= link_to 'Remove', list, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>

<h4>New List</h4>
<%= form_for @list do |f| %>
  <%= f.label "Add List" %>
  <%= f.text_field :title %>
  <%= f.submit "Add List" %>
<% end %>





